<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="container">
            <div class="starter-template">
                <span th:utext="${message}"></span>
                <h2>Users</h2>

                <div style="margin-top:10px;margin-bottom:10px;">
                    <form autocomplete="off" action="#" th:action="@{/admin/users}" th:object="${userSearchForm}" method="get" class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <input type="text" th:field="*{searchString}" placeholder="name, surname, email.." class="form-control" autofocus="true"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary btn-block">Search user</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="entries">
                <div th:each="user, it : ${users}" th:with="index = ${it.count}">
                    <div class="panel panel-default" th:fragment="user" th:id="user+${user.id}">
                        <div class="panel-body">
                            <h3 th:text="${index} + '. ' + ${user.firstName} + ' ' + ${user.lastName}">user name</h3>
                            <blockquote class="entrytext" th:text="${user.email}"></blockquote>
                            <a th:href="@{'/admin/user/' + ${user.id}}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>